:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accents: #2196f3;
  --primary-bg-color: #2f303a;
  --portfolio-cards-gap: 30px;
}

body {
  font-family: Roboto, sans-serif;
}

/*CONTAINER*/
.container {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

a {
  font-weight: 500;
  font-size: 14px;
  font-style: normal;
  line-height: 1.14;
  text-decoration: none;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list .current {
  color: var(--accents);
}

h2,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  padding: 0px;
}

/*======== NAVIGATION ========*/
.header-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.header-logo span {
  color: var(--accents);
}

.main-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .item {
  display: inline-block;
  padding-top: 33px;
  padding-bottom: 31px;
}

.site-nav .item a:hover,
.site-nav .item a:focus {
  color: var(--accents);
}

/*======== END NAVIGATION ========*/

/*======== ADDRESS ========*/
.address-nav {
  display: flex;
  margin-left: auto;
}

.address-nav .item:not(:last-child) {
  margin-right: 50px;
}

.address-emailtel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);

  display: block;
  padding-top: 33px;
  padding-bottom: 31px;
}

/* .address-emailtel.tel:hover .icon-tel {
  fill: var(--accents);
  color: var(--accents);
}

.address-nav > .item > .address-emailtel:hover > .icon-tel {
  fill: var(--accents);
} */

/*======== END ADDRESS ========*/

/*======== HERO ========*/
.hero {
  background-color: var(--primary-bg-color);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  min-height: 600px;

  padding-top: 200px;

  margin-bottom: 94px;
}

.hero-content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hero-title {
  display: inline-block;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;

  margin: 0px 0px 30px 0px;
}

.hero-button {
  padding: 10px 32px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.86;
  letter-spacing: 0.06em;
  background: var(--accents);

  border-radius: 4px;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
}
/*======== END HERO ========*/

/*======== FEATURES ========*/
.feature-card-set {
  display: flex;
  margin-left: calc(-1 * var(--portfolio-cards-gap));
  margin-bottom: 94px;
}

.feature-card-set > .item {
  flex-basis: calc(100% / 3 - var(--portfolio-cards-gap) ;);
  margin-left: var(--portfolio-cards-gap);
}

.feature-title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.feature-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.feature-card-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  left: 215px;
  top: 774px;

  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

/*======== END FEATURES ========*/

/*======== ABOUT ========*/
.about-card-set {
  display: flex;
  margin-left: calc(-1 * var(--portfolio-cards-gap));
  margin-bottom: 94px;
}

.about-card-set .item {
  flex-basis: calc(100% / 3 - var(--portfolio-cards-gap) ;);
  margin-left: var(--portfolio-cards-gap);
}

.title {
  display: block;

  margin-bottom: 50px;
}

.title h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-align: center;
}

/*======== END ABOUT ========*/

/*======== TEAM ========*/
.team {
  background: #f5f4fa;

  padding-top: 94px;
  padding-bottom: 94px;

  margin-bottom: 94px;
}

.team-card-set {
  display: flex;
  margin-left: calc(-1 * var(--portfolio-cards-gap));
}

.team-card-set > .item {
  flex-basis: calc(100% / 3 - var(--portfolio-cards-gap) ;);
  margin-left: var(--portfolio-cards-gap);

  background: #ffffff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-card-content {
  padding: 26px 59px 30px 59px;
  text-align: center;
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-text-color);

  margin-bottom: 10px;
}

.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.team-social-list {
  padding: 0px 32px 30px 32px;
}

.social-list {
  display: flex;
  justify-content: space-between;
}

.social-list > .item > .link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
}

.social-list > .item > .link:hover,
.social-list > .item > .link:focus {
  background-color: var(--accents);
}

.social-list-icon {
  fill: #afb1b8;
}

.social-list > .item > .link:hover .social-list-icon,
.social-list > .item > .link:focus .social-list-icon {
  fill: #ffffff;
}

.social-list-icon {
  width: 20px;
  height: 20px;
}
/*======== END TEAM ========*/

/*======== CLIENTS ========*/

.client-card-set {
  display: flex;

  margin-bottom: 94px;
}

.client-card-set .item:not(:last-child) {
  margin-right: 30px;
}

.client-card {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 170px;
  height: 90px;
  left: 615px;
  top: 2493px;

  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
}

.client-icon {
  fill: #afb1b8;
}

.client-card:hover .client-icon,
.client-card:focus .client-icon {
  fill: var(--accents);
}

.client-card:hover,
.client-card:focus {
  border: 1px solid var(--accents);
}

/*======== END CLIENTS ========*/

/*======== FOOTER ========*/
.footer {
  background-color: var(--primary-bg-color);
  height: 252px;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 20px;

  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-logo span {
  color: var(--accents);
}

.footer-emailtel {
  display: inline-block;
  margin-bottom: 9px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-map {
  display: inline-block;
  margin-bottom: 9px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-social-list .social-list-icon {
  fill: #ffffff;
}

.social-list > .item > .link {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-list {
  display: flex;
  flex-wrap: wrap;
}

.footer-social-list p {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-address {
  display: block;
  margin-top: 60px;
  margin-right: 70px;
}

.footer-social-list {
  display: block;
  margin-top: 72px;
}

.footer-social-list > p {
  display: flex;
  margin-bottom: 20px;
}

.footer-social-list .item:not(:last-child) {
  margin-right: 10px;
}
/*======== END FOOTER ========*/

/*======== PORTFOLIO BUTTONS ========*/
.header-portfolio {
  border-bottom: 1px solid #ececec;
}

.portfolio-button-set {
  display: flex;
  margin-bottom: 50px;
  margin-top: 94px;
  justify-content: center;
}

.portfolio-button-set > .item > .link {
  padding: 6px 22px;
  min-width: 38px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background: #f5f4fa;
  text-align: center;

  border-radius: 4px;
  margin-right: 8px;
}

.portfolio-button-set > .item .link:hover,
.portfolio-button-set > .item .link:hover {
  color: #ffffff;
  background-color: var(--accents);
}

/*======== END PORTFOLIO BUTTONS ========*/

/*======== PORTFOLIO CARDS ========*/

.portfolio-card-set {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--portfolio-cards-gap));
  margin-top: calc(-1 * var(--portfolio-cards-gap));
  margin-bottom: 93px;
}

.portfolio-card-set > .item {
  flex-basis: calc(100% / 3 - var(--portfolio-cards-gap));
  margin-left: var(--portfolio-cards-gap);
  margin-top: var(--portfolio-cards-gap);

  outline: 1px solid #eeeeee;
}

.portfolio-card-content {
  padding: 20px 24px;
}

.portfolio-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);

  margin-bottom: 4px;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
/*======== END PORTFOLIO CARDS ========*/
